{% extends 'base.html.twig' %}

{% block title %}Hello HoraireFilmController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <a href="{{ path("app_accueil") }}">Retour</a>

    {% for film in film %}
        <p>{{ film.name }}</p>
        <img src="{{ film.image }}">
    {% endfor %}

    {% for seance in seance %}
        <p>{{ seance.langue }}</p>
        <p>{{ seance.jourHoraire.format('m') }} / {{ seance.jourHoraire.format('j') }}</p>
        <p><a href="{{ path('app_salle_seance', {salle: seance.salle.id, seance: seance.id})}}">{{ seance.jourHoraire.format('h') }} : {{ seance.jourHoraire.format('i') }}</a></p>
    {% endfor %}

</div>
{% endblock %}
